[defaults]
# Collections and roles installed into the EE live under /usr/share/ansible
collections_path = /usr/share/ansible/collections
roles_path = /usr/share/ansible/roles

[galaxy]
# Uncomment and set if you use a private Automation Hub / Galaxy server
# server_list = automation_hub
#
# [galaxy_server.automation_hub]
# url = https://console.redhat.com/api/automation-hub/content/published/
# auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
# token = <your-token>
